Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [52]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [53]:
l.sort()

In [54]:
l

[('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357),
 ('Virat Kohli', 24936)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

In [13]:
l = [num for num in range(0,10)]

In [21]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
lambda x: x**2,l

(<function __main__.<lambda>(x)>, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [30]:
print(sq)

(<function <lambda> at 0x000002AF7E2CDD30>, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [35]:
a = (map(lambda num: num**2,l))

In [37]:
list(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [41]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = map(lambda x: str(x),l)

In [42]:
tuple(b)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.  Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [43]:
from functools import reduce

In [44]:
l = [num for num in range(1,26)]
reduce(lambda x,y: x*y,l)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [45]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda num: num%2==0 or num%3==0,l))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.


['python', 'php', 'aba', 'radar', 'level']

In [49]:
l1 = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x: x==x[::-1] ,l1))

['php', 'aba', 'radar', 'level']